parameters:
    ignoreErrors:
        -
            message: '#Cognitive complexity for "App\\Command\\AddUserCommand::interact\(\)" is 12, keep it under 8#'
            path: src/Command/AddUserCommand.php

        -
            message: '#PHPDoc tag @var with type \(callable\(\)\: mixed\)\|null is not subtype of native type Closure\(string\|null\)\: string.#'
            paths:
                - src/Command/AddUserCommand.php
                - src/Command/DeleteUserCommand.php

        # -
        #     message: '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
        #     path: src/EventSubscriber/RedirectToPreferredLocaleSubscriber.php

        # -
        #     message: '#Instead of "Closure" class\/interface use "PhpParser\\Node\\Expr\\Closure"#'
        #     path: src/Twig/SourceCodeExtension.php

        # -
        #     message: '#Function "method_exists\(\)" cannot be used\/left in the code\: use ReflectionProvider->has\*\(\) instead#'
        #     path: tests/bootstrap.php

        # -
        #     identifier: missingType.generics

        -
            message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
            identifier: function.alreadyNarrowedType
            count: 1
            path: tests/bootstrap.php

        # -
        #     message: '#Method App\\Entity\\User::getUserIdentifier\(\) should return non-empty-string but returns string.#'
        #     path: src/Entity/User.php

        -
            identifier: staticMethod.dynamicCall

    doctrine:
        # ormRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # ormRepositoryClass: app\Repository\UserRepository
        ormRepositoryClass: app\Doctrine\ServiceEntityRepository
        odmRepositoryClass: app\Doctrine\ServiceEntityRepository
        objectManagerLoader: tests/object-manager.php
        # objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
        allowNullablePropertyForRequiredField: true

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    reportUnmatchedIgnoredErrors: false

    strictRules:
        booleansInConditions: false

    cognitive_complexity:
        class: 50
        # function: 8
        function: 10
