parameters:
    ignoreErrors:
        -
            message: '#Cognitive complexity for "App\\Command\\AddUserCommand::interact\(\)" is 12, keep it under 8#'
            path: src/Command/AddUserCommand.php
        -
            message: '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
            path: src/EventSubscriber/RedirectToPreferredLocaleSubscriber.php
        # -
        #     message: '#^Dynamic call to static method PHPUnit\\Framework\\\S+\(\)\.$#'
        #     # count: 35
        #     # path: tests
        #     paths:
        #         - tests/Command/AddUserCommandTest.php
        #         - tests/Command/ListUsersCommandTest.php
        #         - tests/Controller/Admin/BlogControllerTest.php
        #         - tests/Controller/BlogControllerTest.php
        #         - tests/Controller/UserControllerTest.php
        #         - tests/Form/DataTransformer/TagArrayToStringTransformerTest.php
        #         - tests/Utils/ValidatorTest.php
        # -
        #     message: '#^Dynamic call to static method Symfony\\Bundle\\FrameworkBundle\\Test\\\S+\(\)\.$#'
        #     # count: 22
        #     # path: tests
        #     paths:
        #         # - tests/Command/*
        #         # - tests/Controller/*
        #         - tests/Command/AddUserCommandTest.php
        #         - tests/Command/ListUsersCommandTest.php
        #         - tests/Controller/Admin/BlogControllerTest.php
        #         - tests/Controller/BlogControllerTest.php
        #         - tests/Controller/DefaultControllerTest.php
        #         - tests/Controller/UserControllerTest.php
        # -
        #     message: '#Instead of "Closure" class\/interface use "PhpParser\\Node\\Expr\\Closure"#'
        #     path: src/Twig/SourceCodeExtension.php
        # -
        #     message: '#Function "method_exists\(\)" cannot be used\/left in the code\: use ReflectionProvider->has\*\(\) instead#'
        #     path: tests/bootstrap.php
        # -
        #     identifier: missingType.generics

        -
            message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
            identifier: function.alreadyNarrowedType
            count: 1
            path: tests/bootstrap.php

        -
            message: '#Parameter \#1 \$objectOrMethod of class ReflectionMethod constructor expects object\|string, mixed given.#'
            path: src/Twig/SourceCodeExtension.php

        -
            message: '#Parameter \#2 \$method of class ReflectionMethod constructor expects string, mixed given.#'
            path: src/Twig/SourceCodeExtension.php

        -
            message: '#Parameter \#1 \$function of class ReflectionFunction constructor expects Closure\|string, callable\(\): mixed given.#'
            path: src/Twig/SourceCodeExtension.php

        -
            message: '#Call to function is_countable\(\) with list<string> will always evaluate to true.#'
            path: src/Twig/SourceCodeExtension.php

        -
            message: '#Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics.#'
            path: src/Form/DataTransformer/TagArrayToStringTransformer.php

        -
            message: '#Method App\\Entity\\User::getUserIdentifier\(\) should return non-empty-string but returns string.#'
            path: src/Entity/User.php

    doctrine:
        # ormRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
        # ormRepositoryClass: app\Repository\UserRepository
        ormRepositoryClass: app\Doctrine\ServiceEntityRepository
        odmRepositoryClass: app\Doctrine\ServiceEntityRepository
        objectManagerLoader: tests/object-manager.php
        # objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
        allowNullablePropertyForRequiredField: true

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    strictRules:
        booleansInConditions: false

    cognitive_complexity:
        class: 50
        function: 8
